body {
    background-color: rgb(233, 255, 247);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(17, 17, 17);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(55, 55, 58);
    margin: 0px;
    padding: 20px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    color: rgb(55, 55, 58);
}

section {
    padding: auto;
    text-align: center;
    table-layout: auto;
    display: block;
}

td {
    text-align: center;
    padding: 0px;
    border: lightgreen;
    border-style: solid;
    size: 1px;
    color: green;
}

li {
    list-style-type: none;
}

th {
    text-align: center;
    padding: 0px;
    border: lightgreen;
    border-style: solid;
    size: 1px;
    color: black;
}

footer {
    background-color: rgb(240, 240, 240);
    padding: 20px;
    margin: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: gray;
}

nav {
    text-align: center;
    padding: 10px;
}

main {
    text-align: center;
    display: block;
}

header {
    padding: 0px;
    margin: 0px;
    text-align: center;
    position: relative;
}

.importante {
    align-items: center;
}

.cor {
    color: gray;
}

a:link {
    color: gray;
    font-size: 1em;
}

a:visited {
    color: rgb(243, 176, 176);
}

a:hover {
    color: white;
}

a:active {
    color: gray;
    font-size: 1em;
}

[target="blank"] {
    background-color: white;
    border: 1px solid;
    font-weight: 100;
}

picture {
    display: block;
    margin: auto;
}

form {}